@couleur-principale: #369;

:root {
	--font-size-global: 16px;
	--font-size-evaluation: 16px;
}


html {
	height: 100%;
}

body {
	font-family: arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

optgroup:disabled {
	cursor: not-allowed;

	& > option {
		display: none;
	}
}

.module {
	display: flex;
	flex-direction: column;

	& > * {
		flex: 1 1 auto;
	}

	& > header,
	& > footer {
		flex: 0 0 auto;
		background-color: rgba(0, 0, 0, .1);
		padding: .5em;
	}

	& > header {
		order: -1;
	}

	& > footer {
		order: 1;
	}
}

.colonnes {
	display: flex;

	& > * {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
	}

	& > *.colonne.eleves {
		--largeur: 40ch;
		--largeur-trigger: 1em;
		padding: 0;
		flex: 0 0 var(--largeur-trigger);
		font-size: 1rem;
		position: relative;
		overflow: visible;
		& > form {
			overflow: auto;
			width: var(--largeur);
			box-sizing: border-box;
			position: absolute;
			background-color: white;

			left: 100%;
			top: 0;
			bottom: 0;
			transition: .2s;
			padding: 1em;
			padding-left: e('calc(1em + var(--largeur-trigger))');
			margin-left: e('calc(-1 * var(--largeur-trigger))');

			&:hover,
			&:focus-within {
				margin-left: e('calc(-1 * var(--largeur))');
			}
			.trigger {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: hsl(0, 0%, 85%);
				color: hsl(0, 0%, 50%);
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: var(--largeur-trigger);
				& > * {
					font-size: .7em;
					font-weight: bold;
					transform: rotate(90deg);
				}
			}
		}
	}
}

.cliquable {
	flex: 1 1 auto;
	min-width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, .1);
	border-radius: .3em;
	height: 1.5em;
	padding: 0 .5em;
	margin: .25em 0;
	cursor: pointer;

	& > input {
		background-color: transparent;
		border: 1px solid #999;
	}
}

.cliquables {
	display: flex;
	flex-wrap: wrap;

	& > * {
		.cliquable;
		& + * {
			margin-left: .25em;
		}
	}
	&.echelle {
		& > * {
			box-shadow: .05em .05em .15em rgba(0,0,0,.2);
		}
	}
	&.commentaires {
		& > * {
			box-shadow: inset .05em .05em .15em rgba(0,0,0,.2);
		}
		& input {
			padding: 0;
			margin: 0;
			width: 100%;
			border: none;
		}
	}
}
.main {
	padding: 1em;
}

*.options {
	background-color: lighten(@couleur-principale, 55%);
	padding: .25em;

	&,
	& * {
		display: flex;
	}

	.toolbar-group {
		justify-content: space-between;
	}

	button + button {
		margin-left: .25em;
	}

	button {
		font: inherit;
		border: none;
		background-color: lighten(@couleur-principale, 50%);
		padding: .25em;
		color: @couleur-principale;
		//		box-shadow: inset -0.05em -0.05em 0px rgba(0,0,0,.3), inset 0.05em 0.05em 0px rgba(255,255,255,.5);
		text-shadow: 0.03em 0.03em 0px rgba(0, 0, 0, .3);
		border-radius: .2em;
		cursor: pointer;

		&:disabled {
			color: rgba(75%, 75%, 75%, 1);
			text-shadow: -0.03em -0.03em 0px rgba(0, 0, 0, .3);
			cursor: not-allowed;
		}
	}
}

*.bouton {
	width: 1em;
	height: 1em;
	display: flex;
	margin: 0 .25em;
	overflow: hidden;
	color: transparent;
	cursor: pointer;

	&::before {
		flex: 0 0 auto;
		display: block;
		width: 100%;
		height: 100%;
	}
}

fieldset:disabled {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, .5);
}

.cache {
	display: none;
}

form.eleves {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	line-height: 1;;

	input[name=recherche] {
		font-size: 1rem;
		font-weight: normal;
		width: 10ch;
		border: 1px solid #999;
		box-shadow: inset 1px 1px rgba(0, 0, 0, .2);
		border-radius: .25em;
		background-image: url("../images/recherche.svg");
		background-repeat: no-repeat;
		background-position: .2em center;
		background-size: 1em;
		padding-left: 1.4em;
	}

	& header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	& h1 {
		margin: 0;
	}

	& > select {
		font: inherit;
		flex: 0 0 80vh;
	}

	& input[type=radio] {
		display: none;

		& + label {
			padding: .5em;
			display: flex;
			justify-content: space-between;
			border-radius: .25em;
		}

		&:hover + label {
			background-color: rgba(128, 128, 128, 0.1);
		}

		&:checked + label {
			background-color: rgba(0, 128, 128, 0.2);
		}
	}

	fieldset {
		padding: 0;
		border: none;
	}

	li > h2 {
		padding: .25em 0;
		margin: 0;
		margin-top: .25em;
		font-size: 1.2em;

		&::before {
			font-family: monospace;
			content: "▼";
			content: "▾";
		}

		&.folded::before {
			font-family: monospace;
			content: "◀";
			content: "▸";
		}
	}
}

@media all and (max-aspect-ratio:1/1) {
	div.main {
		font-size: 3vw;
	}

	.colonne {
		//		position: absolute;
		//		left: 0;
//		background-color: #CCC;

		& > * {
//			display: none !important;
		}
	}
}

@media all and (min-aspect-ratio:1/1) {
	div.main {
		font-size: 2.5vw;
	}
}

div.body {
	position: relative;
	overflow: hidden;

	& > * {
		overflow: auto;
	}

	.colonnes;
}

div.interface {
	height: 100%;
	.module;

	& > header {
		display: flex;
		justify-content: space-between;

		& > h1,
		& > h2 {
			margin: 0;
		}

		& > h1 {
			margin: 0;
			font-size: 2em;
			display: flex;
			align-items: center;
			color: @couleur-principale;
			text-shadow: .05ch .05ch .1em rgba(0, 0, 0, .5);
			letter-spacing: -.1ch;

			em {
				margin-left: -.1em;
				font-weight: normal;
				font-variant: small-caps;
			}

			img {
				//				height: 1.2em;
			}
		}
	}
}
.identification {
	display: flex;
	font-size: 1.5em;
	font-weight: bold;
	justify-content: space-between;
}
.nomAdmin {
	span + span:before {
		content: ", ";
	}
}
.nomComplet {
	span + span:before {
		content: " ";
	}
}

fieldset {
	border: 1px none black;
	margin: 0;
	padding: 0;
}

.evaluation > .critere {
	margin: 0;
}

div#gestionEvaluations {
	legend {
		font-size: smaller;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		margin: 0em .5em;
		padding: .2em;

		&:nth-child(odd) {
			background-color: rgba(0, 0, 0, .05);
		}

		&:nth-child(even) {
			background-color: rgba(0, 0, 0, .1);
		}

		& > div.label {
			display: flex;
			align-items: center;
			//		border: solid;
			justify-content: space-between;

			& > * {
				flex: 1 1 auto;
			}

			& > *.options {
				flex-grow: 0;
			}
		}
	}

	input {
		font: inherit;
		text-align: center;
		font-size: inherit;

		&:read-only {
			background-color: transparent;
			border-color: transparent;
		}
	}
}

input {
	font: inherit;
}

.folded + fieldset > ul {
	display: none;
}

div.critere {
	//	border: 1px solid rgb(70%,70%,70%,);
	margin: .25em;
	padding: .25em;
	margin-left: 1em;
	transition: background-color 1s;
}

div.details {

	&,
	& > * {
		display: flex;
	}

	flex-direction: row-reverse;
	justify-content: space-between;

	& > *.champ-titre {
		flex: 1 1 auto;
		margin-left: .5em;
	}

	& > *.champ-valeur {
		flex: 0 0 auto;
		align-items: center;

		& > span {
			display: flex;
			align-items: center;
		}
	}

	& > *.champ-id {
		display: none;
	}

	& *.label {
		display: none !important;
	}
	& > label {
		flex: 1 1 0px;
		margin-left: .5em;
	}
	span.valeur {
	& > span {
		font-size: .75em;
		align-self: flex-end;
		line-height: 1;
	}
	& > input[type=text] {
		width: 3em;
		background-color: rgba(255, 255, 255, .5);
		border: none;
		box-shadow: inset 0.05em 0.05em .2em rgba(0, 0, 0, .2);
		outline: none;
		text-align: center;
	}
	}
}

span.label {
	font-weight: bold;

	&::after {
		content: ":";
		padding: 0 .5ch;
	}
}

.checked {
	background-color: red;
}

.aides {
	display: none;
}
::placeholder {
	color: rgba(0,0,0,.2);
}
.courant,
.courant .critere:first-child {
	background-color: hsl(60, 100%, 95%);
	box-shadow: 0.1em 0.1em .3em rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.1);
	& > .aides {
		display: inherit;
	}
}

span[data-valeur] {
	&:after {
		content: "\A0["attr(data-valeur) "]";
	}
}
